<html>
<head>
    <style>
        .dir {
            font-weight: bold;
            text-align: center;
        }
        .dnis {
            font-weight: bold;
        }
        thead tr {
            background: #ccc;
        }
        td {
            padding: 3px 8px;
        }
        th {
            padding: 5px 20px;
        }
        tr.even {
            background: #eee;
        }
    </style>
</head>
<body>
<h1>Phone Report {{ day }}</h1>
<h2>Top 10 Talkers</h2>
<table>
<thead><tr>
        <th>Number</th><th>Name</th><th>Minutes Talking</th>
    </tr></thead>
    <tbody>
    {% for row in top_talkers %}
        <tr class="{{ loop.cycle('odd', 'even') }}">
            <td>{{ row.name }}</td><td>{{ row.number }}</td><td>{{ round(row.seconds / 60.0, 2) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<hr>

<h2>Top 10 Holders</h2>
<table>
<thead><tr>
        <th>Number</th><th>Name</th><th>Seconds Holding</th>
    </tr></thead>
    <tbody>
    {% for row in top_holders %}
        <tr class="{{ loop.cycle('odd', 'even') }}">
            <td>{{ row.name }}</td><td>{{ row.number }}</td><td>{{ row.seconds }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<hr>

<h2>Call Log</h2>
<table>
    <thead><tr>
        <th>Time</th><th>DNIS</th><th>Internal Name</th><th>Internal Number</th><th>Direction</th>
        <th>External Name</th><th>External Number</th><th>Talk Time Min.</th><th>Hold Time Sec.</th>
    </tr></thead>
    <tbody>
    {% for row in call_log %}
        <tr class="{{ loop.cycle('odd', 'even') }}">
            <td>{{ row.start_time.strftime('%I:%M:%S %p') }}</td><td class="dnis">{{ row.dnis }}</td>
            {%- if row.direction == 1 -%}{# inbound call #}
                <td>{{ row.target_name }}</td><td>{{ row.target_number }}</td><td class="dir">&larr;</td>
                <td>{{ row.caller_name }}</td><td>{{ row.caller_number }}</td>
            {% else %}
                <td>{{ row.caller_name }}</td><td>{{ row.caller_number }}</td><td class="dir">&rarr;</td>
                <td>{{ row.target_name }}</td><td>{{ row.target_number }}</td>
            {%- endif -%}
            <td>{{ round(row.talk_duration / 60.0, 2) }}</td><td>{{ row.hold_duration }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
